@import '../index.scss';

.banner {
	display: flex;
	align-items: center;
  }
  
  .banner__logo {
	height: auto;
	width: 8.5rem;
	margin-top: 1.5rem;
	margin-left: 1.5rem;
  }
  
  .banner__navbar {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	display: flex;
	align-items: center;
  
	a {
	  color: $main-color;
	  text-decoration: none;
	  margin-left: 1rem;
  
	  &:hover {
		text-decoration: underline;
	  }
	}
  }
  