@import '../index.scss';

.banner {
  display: flex;
  align-items: center;
}

.banner__logo {
  height: auto;
  width: 12rem;
  margin-top:3rem;
  margin-left: 5rem;
}

.banner__navbar {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;

  a {
    color: $footer__background--color;
    text-decoration: none;
    margin: 2.5rem; 
    font-size:1.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
