@import '../index.scss';

.footer {
  background-color: #000000;
  color: $over__text--color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 3.5em;

    .footer__logo {
      margin: 3rem;
      max-width: 140px;
      height: auto;
      max-height: 80px;
     @include media-query{
        margin: 3rem 3rem 1rem 3rem ;
      }
    }

  .footer__text {
   @include media-query{
      width: 8rem;
      text-align: center;
    }

    .footer__text--copyright {
      width: 1rem;
      height: auto;
      margin-right: 0.5rem;
     @include media-query{
        width: 0.6rem;
      }
    }

    .footer__text--textFooter {
      font-size: 1.5rem;
     @include media-query{
        font-size: 0.85rem;
        
        
      }
    }
  }

}