
@import '../index.scss';
.gallery {
  position: relative;
  
  .gallery__content {
    position: relative;
    display: flex;
    overflow: hidden;

    img {
      width: 100%;
      transition: opacity 0.5s ease-in-out;
      @media (max-width: 375px){
        width: 349px;
       height : 233px;

      }
    }
  }

  .gallery__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 6rem; 
    color:$over__text--color;
    @include text-shadow;
    padding: 20px; 
    z-index: 2; 
    @media (max-width: 375px){
      font-size: 3rem;
      padding: 0.25rem;
    }
  }

  .gallery__nav:first-child {
    left: 0;
  }

  .gallery__nav:last-child {
    right: 0;
  }

  .gallery__index-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $over__text--color;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
  }
}
