
@import '../index.scss';
.gallery {
  position: relative;
 
 

  .gallery__content {
    position: relative;
    display: flex;
    overflow: hidden;

    img {
      width: 100%;
      transition: opacity 0.5s ease-in-out;
    }
  }

  .gallery__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 6rem; 
    color: #fff;
    @include text-shadow;
    padding: 20px; 
    z-index: 2; 
  }

  .gallery__nav:first-child {
    left: 0;
  }

  .gallery__nav:last-child {
    right: 0;
  }

  .gallery__index-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
  }
}
