@import '../index.scss';

.home {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  @media (max-width: 375px){
    margin-top: 1.5rem;
  }

  .home__header {
    width: 90%;
    max-height: 220px;
    border-radius: 20px;
    overflow: hidden;
      @media (max-width: 375px){
        border-radius: 10px;
      }

    .home__header--photo {
      position: relative;
      width: 100%;
      height: 100%;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); 
        z-index: 1;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center 10%;
        display: block;
        @media (max-width: 375px){
          height: 6rem;
        }
      }

      .home__photo--text {
        position: absolute;
        top: 7rem;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $headerPhoto__text--color;
        font-size: 2.5rem;
        font-weight: 500;
        text-align: center;
        z-index:2;
        @media (max-width: 375px){
          font-size: 1.15rem;
          font-weight: 900;
          text-align: left; 
          top: 50%;
          left: calc(33% + 1rem);
        }
      }
    }
  }
  
  

  .home__accommodation {
    width: 86%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F6F6F6;
    padding:2rem;
    border-radius: 15px;
    @media (max-width: 375px){
      width:100%;
      margin-top: 0;
      margin-bottom: 0;
      justify-content: space-between;
      background-color: #FFF;
      padding:1.2rem 0 0.5rem 0;
     
     
    }
    

    .home__accommodation-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
}