html{
  font-size: 16px; 
  font-family:'Montserrat';
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-rows: 1fr auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$main-color: #FF6060;

$footer__background--color : #000000;

$footer__text--color : #ffffff;

$headerPhoto__text--color : #ffffff;

